<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fetch API</title>
    <style>
      table,
      th,
      td {
        border: solid pink 3px;
        border-collapse: collapse;
        padding: 5px 10px;
      }
    </style>
    <script src="https://unpkg.com/petite-vue" defer init></script>
  </head>

  <body v-scope="dataset()">
    <p>
      <button @click="fetchData">データ取得</button>
    </p>

    <table v-if="data.length > 0">
      <thead>
        <tr>
          <th>名前</th>
          <th>タイプ</th>
          <th>重さ</th>
          <th>特性</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in data" :key="row.name">
          <td>{{ row.name }}</td>
          <td>{{ row.type }}</td>
          <td>{{ row.weight }}</td>
          <td>{{ row.ability }}</td>
        </tr>
      </tbody>
    </table>
  </body>

  <script>
    function dataset() {
      return {
        data: '',
        async fetchData() {
          const res = await fetch('data.json');
          const json = await res.json();
          this.data = json.list;
          console.log(this.data);
        }
      };
    }
  </script>
</html>
